---
http_interactions:
- request:
    method: get
    uri: https://phishstats.info:2096/api/phishing?_sort=-id&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5712-3oyT7NmILGhsf8h3RBZ5OgJ2Obo"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '[{"id":4322088,"url":"http://jiehun.cn/hunyan/jd.php?qy=a?aa?a?1?4a?a|a?aa?a?1?4\\u0026dc=\\u0026jg=1499a?a?|a?a?a?aa?a?a|a?aa?a?aufffdufffda|a?a?a?1aa?a?%252\r","ip":"61.160.251.208","countrycode":"CN","countryname":"China","regioncode":"JS","regionname":"Jiangsu","city":"","zipcode":"","latitude":"32.0617","longitude":"118.7778","asn":"AS4134","bgp":"61.160.0.0/16","isp":"CHINANET-BACKBONE
        No.31,Jin-rong Street, CN","title":"","date":"2020-05-14T10:55:30.000Z","date_update":"2020-05-14T10:55:30.000Z","hash":"f8c18ee923bed03e2b72fbcb11485bb19c64ec1f4bda61701c741dd41d96f57b","score":null,"host":null,"domain":null,"tld":null,"domain_registered_n_days_ago":null,"screenshot":null,"abuse_contact":null,"ssl_issuer":null,"ssl_subject":null,"alexa_rank_host":null,"alexa_rank_domain":null,"n_times_seen_ip":null,"n_times_seen_host":null,"n_times_seen_domain":null,"http_code":null,"http_server":null,"google_safebrowsing":null,"virus_total":null,"abuse_ch_malware":null,"threat_crowd":null,"threat_crowd_subdomain_count":null,"threat_crowd_votes":null,"vulns":null,"ports":null,"os":null,"tags":null,"technology":null,"page_text":null},{"id":4322087,"url":"http://jiehun.cn/hunyan/jd.php?qy=a?aa?a?1?4a?a|a?aa?a?1?4\\u0026dc=\\u0026jg=1499a?a?|a?a?a?aa?a?a|a?aa?a?a?aufffdufffda|a%253\r","ip":"61.160.251.208","countrycode":"CN","countryname":"China","regioncode":"JS","regionname":"Jiangsu","city":"","zipcode":"","latitude":"32.0617","longitude":"118.7778","asn":"AS4134","bgp":"61.160.0.0/16","isp":"CHINANET-BACKBONE
        No.31,Jin-rong Street, CN","title":"","date":"2020-05-14T10:55:19.000Z","date_update":"2020-05-14T10:[...]
