---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/pro/phishfeed?format=json&q=result.task.time:%3Enow-24h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"157498-4Ruhjjc/+cVUn5YCRTFbb5pVF10"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "date": "2020-10-04T10:13:38.791Z",
              "target_brands": [
                "Generic Email"
              ],
              "target_countries": [
                "us"
              ],
              "target_verticals": [
                "Online"
              ],
              "page_country": "US",
              "page_ip": "151.101.1.195",
              "page_asn": "AS54113",
              "page_asnname": "FASTLY, US",
              "scan_url": "https://urlscan.io/result/00ca6a5b-b06b-457f-be1b-a60e0302401d/",
              "page_url": "https://e0kim1z8.web.app/"
            },
            {
              "date": "2020-10-04T10:13:08.297Z",
              "target_brands": [
                "Credit Agricole"
              ],
              "target_countries": [
                "fr"
              ],
              "target_verticals": [
                "Banking"
              ],
              "page_country": "US",
              "page_ip": "104.219.248.143",
              "page_asn": "AS22612",
              "page_asnname": "NAMECHEAP-NET, US",
              "page_server": "Apache",
              "scan_url": "https://urlscan.io/result/f7f8a05d-7c3d-4f6d-ba11-20b5e1bd2ed6/",
              "page_url": "https://credit-agricole-securipass.fr.online.modarca.com/?client=ABMVIWPY0OJ2Q354UCXES1RHKG879DFLT6NZ"
            },
            {
              "date": "2020-10-04T10:10:45.600Z",
              "target_brands": [
                "16Shop"
              ],
              "target_countries": [
                "us"
              ],
              "target_verticals": [
  [...]
