---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=task.method:automatic&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"178ec-FbBcWddEpT54Tlvt6CLYI0e7VjI"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-11-25T23:44:32.898Z",
                "source": "certstream-suspicious",
                "url": "https://secureroyalverification.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 893,
                "encodedDataLength": 617,
                "requests": 1
              },
              "page": {
                "country": "IT",
                "server": "aruba-proxy",
                "city": "Arezzo",
                "domain": "www.secureroyalverification.com",
                "ip": "89.46.106.18",
                "asnname": "ARUBA-ASN, IT",
                "asn": "AS31034",
                "url": "https://www.secureroyalverification.com/",
                "ptr": "webx1137.aruba.it"
              },
              "uniq_countries": 1,
              "_id": "14f375c1-6bf8-481f-a095-ef8cc161f3a6",
              "result": "https://urlscan.io/api/v1/result/14f375c1-6bf8-481f-a095-ef8cc161f3a6"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-11-25T23:43:16.049Z",
                "source": "certstream-suspicious",
                "url": "https://www.bankamusterisi.com"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 1,
                "dataLength": [...]
