---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16864-MYrSm5AuRED11u9qaZ1+fKoUcKU"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-04-30T10:54:25.541Z",
                "source": "certstream-suspicious",
                "url": "https://www.xn--charlottebving-zqb.dk"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 0,
                "dataLength": 708369,
                "encodedDataLength": 705412,
                "requests": 16
              },
              "page": {
                "country": "DK",
                "server": "nginx",
                "city": "",
                "domain": "www.charlottes.health",
                "ip": "185.21.40.190",
                "asnname": "ZITCOM, DK",
                "asn": "AS48854",
                "url": "https://www.charlottes.health/",
                "ptr": "web1.a-master.dk"
              },
              "uniq_countries": 1,
              "_id": "791199aa-8405-44ee-8ef3-557ecdb43e77",
              "result": "https://urlscan.io/api/v1/result/791199aa-8405-44ee-8ef3-557ecdb43e77"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-04-30T10:54:25.435Z",
                "source": "certstream-suspicious",
                "url": "https://www.instagramcaptionsforcouples.crackinglist.com"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 0,
    [...]
