---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=task.method:automatic&size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Scope:
      - user
      X-Rate-Limit-Action:
      - search
      X-Rate-Limit-Window:
      - minute
      X-Rate-Limit-Limit:
      - '5000'
      X-Rate-Limit-Remaining:
      - '4999'
      X-Rate-Limit-Reset:
      - '2020-10-04T10:17:00.000Z'
      X-Rate-Limit-Reset-After:
      - '44'
      Etag:
      - W/"1f047-9iMbCU5i5rT9nkCblGbR968BgIs"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "indexedAt": "2020-10-04T10:16:00.209Z",
              "task": {
                "visibility": "public",
                "method": "automatic",
                "domain": "chicenter-barrylong-registration.securechkout.com",
                "time": "2020-10-04T10:15:41.622Z",
                "source": "certstream-suspicious",
                "uuid": "018d88dc-ff6b-4a65-9439-eaed8103f66b",
                "url": "https://chicenter-barrylong-registration.securechkout.com"
              },
              "stats": {
                "uniqIPs": 11,
                "consoleMsgs": 1,
                "uniqCountries": 3,
                "dataLength": 3194895,
                "encodedDataLength": 1010023,
                "requests": 39
              },
              "page": {
                "country": "US",
                "server": "ONTRAport",
                "city": "Venice",
                "domain": "chicenter-barrylong-registration.securechkout.com",
                "ip": "209.170.211.179",
                "mimeType": "text/html",
                "asnname": "ASN-VINS, US",
                "asn": "AS13649",
                "url": "https://chicenter-barrylong-registration.securechkout.com/",
                "ptr": "mail9.ontramail.com",
                "status": "200"
              },
              "_id": "018d88dc-ff6b-4a65-9439-eaed8103f66b",
              "sort": [
                1601806541622,
                "018d88dc-ff6b-4a65-9439-eaed8103f66b"
              ],
              "result": "https://urlscan.io/api/v1/result/018d88dc-ff6b-4a65-9439-eaed8103f66b/",
              "screenshot": "https://urlscan.io/screenshots/018d88dc-ff6b-4a65-9439-eaed8103f66b.png"
            },
            {
              "indexedAt": "2020-10-04T10:16:04.676Z",
              "task": {
                "visibility": "public",
                "method": "automatic",
                "domain": "37.53.41.57",
                "time": "2020-10-04T10:15:29.236Z",
                "source": "urlhaus",
                "uuid": "aa38d1b8-3aff-45f4-aa13-88c645b86d4d",
                "url": "http://37.53.41.57:3[...]
