---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?offset=0&q=task.method:automatic&size=100&sort=_score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17fac-CyXQ7t1gqV8s+uXyNjQG1KWtgfQ"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-12-17T02:48:16.337Z",
                "source": "certstream-suspicious",
                "url": "https://www.travel-unlocked.com"
              },
              "stats": {
                "uniqIPs": 5,
                "consoleMsgs": 1,
                "dataLength": 3078599,
                "encodedDataLength": 1605062,
                "requests": 42
              },
              "page": {
                "country": "US",
                "server": "DPS/1.6.14",
                "city": "Scottsdale",
                "domain": "travel-unlocked.com",
                "ip": "160.153.136.3",
                "asnname": "AS-26496-GO-DADDY-COM-LLC - GoDaddy.com, LLC, US",
                "asn": "AS26496",
                "url": "https://travel-unlocked.com/",
                "ptr": "ip-160-153-136-3.ip.secureserver.net"
              },
              "uniq_countries": 3,
              "_id": "6182618e-8ffb-48ce-b6e1-43cc90fe66cc",
              "result": "https://urlscan.io/api/v1/result/6182618e-8ffb-48ce-b6e1-43cc90fe66cc"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2019-12-17T02:47:28.300Z",
                "source": "urlhaus",
                "url": "http://kartcup.net/picture_library/public/7htx4usjhg/vv6-6212236-60-s16t122-bxgd/"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 0,
                "encodedDataLength": 0,
                "requests": 1
              },
              "files": [
                {
                  "filename": "PAY_RI4394150469GM.doc",
                  "sha256": "882b1f2179e0cd4bb9a0be60d6f5dc1386eb7fe3eec9fcd34e184205c5981948",
                  "filesize": 195009,
                  "mimeType": "application/msword; charset=binary"
                }
              ],
              "page": {
                "country": "FR",
                "server": "nginx",
                "city": "",
                "domain": "kartcup.net",
                "ip": "51.68.226.29",
                "asnname": "OVH, FR",
                "asn": "AS16276",
                "url": "http://kartcup.net/picture_library/public/7htx4usjhg/vv6-6212236-60-s16t122-bxgd/",
                "ptr": "29.ip-51-68-226.eu"
    [...]
