---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16e4a-lZELjnBS7V52Krx9LdlHrWtvx0g"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-11-18T09:17:33.462Z",
                "source": "certstream-suspicious",
                "url": "https://myscupstatehome.com"
              },
              "stats": {
                "uniqIPs": 14,
                "consoleMsgs": 0,
                "dataLength": 2865312,
                "encodedDataLength": 1847246,
                "requests": 50
              },
              "page": {
                "country": "US",
                "server": "openresty",
                "city": "Ashburn",
                "domain": "www.myscupstatehome.com",
                "ip": "54.243.60.102",
                "asnname": "AMAZON-AES - Amazon.com, Inc., US",
                "asn": "AS14618",
                "url": "https://www.myscupstatehome.com/",
                "ptr": "ec2-54-243-60-102.compute-1.amazonaws.com"
              },
              "uniq_countries": 3,
              "_id": "8c3b4799-9587-4526-a0b2-64047ff69c5b",
              "result": "https://urlscan.io/api/v1/result/8c3b4799-9587-4526-a0b2-64047ff69c5b"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-11-18T09:15:55.007Z",
                "source": "certstream-suspicious",
                "url": "https://www.xogov-shop.ru"
              },
              "stats": {
                "uniqIPs": 2,
                "consoleMsgs": 1,
                "dataLength": 46852[...]
