---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=PhishTank%20OR%20OpenPhish%20OR%20CertStream-Suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"163b5-wd8uNNsfmoqT54VpP5Q1z4tTEyA"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-11-18T06:49:39.632Z",
                "source": "certstream-suspicious",
                "url": "https://apple-dispute-payment.com"
              },
              "stats": {
                "uniqIPs": 6,
                "consoleMsgs": 1,
                "dataLength": 4813380,
                "encodedDataLength": 2416670,
                "requests": 42
              },
              "page": {
                "country": "US",
                "server": "Apple",
                "city": "Cupertino",
                "domain": "appleid.apple.com",
                "ip": "17.111.105.242",
                "asnname": "APPLE-ENGINEERING - Apple Inc., US",
                "asn": "AS714",
                "url": "https://appleid.apple.com/",
                "ptr": "appleid-rno-s.apple.com"
              },
              "uniq_countries": 3,
              "_id": "fcf4e7ce-a3cf-4bda-9835-b2410890d6d7",
              "result": "https://urlscan.io/api/v1/result/fcf4e7ce-a3cf-4bda-9835-b2410890d6d7"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "options": {
                  "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36"
                },
                "time": "2018-11-18T06:47:42.359Z",
                "source": "certstream-suspicious",
                "url": "https://www.theapplestudio.com"
              },
              "stats": {},
              "page": {
                "domain": "www.theapplestudio.com",
                "url": "https://www.theapplestudio.com"
              },
     [...]
