---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=certstream-suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15eae-me8pYZFUguomlGKzNM+GReDu4hw"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-10-27T10:00:47.908Z",
                "source": "certstream-suspicious",
                "url": "https://yandex-gett-taxi.ru"
              },
              "stats": {
                "uniqIPs": 7,
                "consoleMsgs": 1,
                "dataLength": 4927846,
                "encodedDataLength": 1876205,
                "requests": 98
              },
              "page": {
                "country": "RU",
                "server": "nginx/1.14.0",
                "city": "",
                "domain": "yandex-gett-taxi.ru",
                "ip": "37.140.192.205",
                "asnname": "AS-REG, RU",
                "asn": "AS197695",
                "url": "https://yandex-gett-taxi.ru/",
                "ptr": "scp75.hosting.reg.ru"
              },
              "uniq_countries": 3,
              "_id": "3d9cdc57-e029-4f6a-ad85-8cc6aedf5d70",
              "result": "https://urlscan.io/api/v1/result/3d9cdc57-e029-4f6a-ad85-8cc6aedf5d70"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-10-27T10:00:47.819Z",
                "source": "certstream-suspicious",
                "url": "https://www.yandex-gett-taxi.ru"
              },
              "stats": {
                "uniqIPs": 7,
                "consoleMsgs": 1,
                "dataLength":[...]
