---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=certstream-suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1679a-dChSVb00770ycxdtR/R0IxQ0ep0"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-10-24T11:39:43.072Z",
                "source": "certstream-suspicious",
                "url": "https://xn--awesomepetsklonedekledyr-odc.dk"
              },
              "stats": {
                "uniqIPs": 5,
                "consoleMsgs": 0,
                "dataLength": 4498341,
                "encodedDataLength": 1578901,
                "requests": 30
              },
              "page": {
                "country": "US",
                "server": "",
                "city": "New York",
                "domain": "www.nationaletestnejtak.dk",
                "ip": "198.185.159.144",
                "asnname": "SQUARESPACE - Squarespace, Inc., US",
                "asn": "AS53831",
                "url": "https://www.nationaletestnejtak.dk/",
                "ptr": ""
              },
              "uniq_countries": 3,
              "_id": "ebed8ef9-7795-4bf9-bda9-cf4e23af7a24",
              "result": "https://urlscan.io/api/v1/result/ebed8ef9-7795-4bf9-bda9-cf4e23af7a24"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-10-24T10:54:46.755Z",
                "source": "certstream-suspicious",
                "url": "https://www.bookings.tripsvision.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLen[...]
