---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=certstream-suspicious
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"161c2-TsTdRk+5CGncEJLqM/rwlcLTVmc"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "options": {
                  "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36"
                },
                "time": "2018-09-17T05:49:58.929Z",
                "source": "certstream-suspicious",
                "url": "https://banksifsccodes.in"
              },
              "stats": {},
              "page": {
                "domain": "banksifsccodes.in",
                "url": "https://banksifsccodes.in"
              },
              "_id": "c3bc80d5-8a94-4d43-add1-c4fad0af6c31",
              "result": "https://urlscan.io/api/v1/result/c3bc80d5-8a94-4d43-add1-c4fad0af6c31"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-17T05:49:31.750Z",
                "source": "certstream-suspicious",
                "url": "https://sanrafaelriveradventurebooking.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 328,
                "encodedDataLength": 624,
                "requests": 1
              },
              "page": {
                "country": "US",
                "server": "Apache",
                "city": "Tempe",
                "domain": "sanrafaelriveradventurebooking.com",
                "ip": "108.170.29.140",
                "asnname": "SSASN2 - SECURED SERVERS LLC, US",
                "asn": "AS20454",
                "url": "https://sanrafaelriveradventurebooking.com/",
                "ptr": "cloud01.magnointernet.com"
              },
              "uniq_countries": 1,
              "_id": "12ec42e2-4329-45aa-9d61-95824c8843dd",
              "result": "https://urlscan.io/api/v1/result/12ec42e2-4329-45aa-9d61-95824c8843dd"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-17T05:48:45.404Z",
                "source": "certstream-suspicious",
                "url": "https://loginperks.com"
              },
              "stats": {
              [...]
