---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=certstream-suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16129-ZI5WrpvyMMnnujPCRHXGRxJn6EY"
      X-Proxy-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "options": {
                  "useragent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36"
                },
                "time": "2018-09-22T00:10:10.085Z",
                "source": "certstream-suspicious",
                "url": "https://gethumansupport.com"
              },
              "stats": {},
              "page": {
                "domain": "gethumansupport.com",
                "url": "https://gethumansupport.com"
              },
              "_id": "be34ea55-1935-4c2b-8dfa-1af6cd86b091",
              "result": "https://urlscan.io/api/v1/result/be34ea55-1935-4c2b-8dfa-1af6cd86b091"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-22T00:05:45.171Z",
                "source": "certstream-suspicious",
                "url": "https://meusupporte.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": 623,
                "encodedDataLength": 816,
                "requests": 1
              },
              "page": {
                "country": "BR",
                "server": "Apache",
                "city": "",
                "domain": "meusupporte.com",
                "ip": "191.252.133.221",
                "asnname": "Locaweb ServiÃ§os de Internet S/A, BR",
                "asn": "AS27715",
                "url": "https://meusupporte.com/",
                "ptr": ""
              },
              "uniq_countries": 1,
              "_id": "d9633905-2eb6-4e1a-b9f9-3a8e29197365",
              "result": "https://urlscan.io/api/v1/result/d9633905-2eb6-4e1a-b9f9-3a8e29197365"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-22T00:05:08.861Z",
                "source": "certstream-suspicious",
                "url": "https://xn--botaa-fta.com"
              },
              "stats": {
           [...]
