---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=certstream-suspicious&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16079-8ADAr6B5P0TESGAh2gmcdkJklec"
      X-Proxy-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-25T11:23:12.587Z",
                "source": "certstream-suspicious",
                "url": "https://citestaccount1537873760.com"
              },
              "stats": {
                "uniqIPs": 3,
                "consoleMsgs": 0,
                "dataLength": 94281,
                "encodedDataLength": 34580,
                "requests": 4
              },
              "page": {
                "country": "US",
                "server": "Apache",
                "city": "Burlington",
                "domain": "citestaccount1537873760.com",
                "ip": "66.96.161.130",
                "asnname": "BIZLAND-SD - The Endurance International Group, Inc., US",
                "asn": "AS29873",
                "url": "https://citestaccount1537873760.com/",
                "ptr": "130.161.96.66.static.eigbox.net"
              },
              "uniq_countries": 2,
              "_id": "8e6ba956-aee8-4723-9ca8-50f5b989f46d",
              "result": "https://urlscan.io/api/v1/result/8e6ba956-aee8-4723-9ca8-50f5b989f46d"
            },
            {
              "task": {
                "visibility": "public",
                "method": "automatic",
                "time": "2018-09-25T11:22:53.358Z",
                "source": "certstream-suspicious",
                "url": "https://unlock-myaccountid.com"
              },
              "stats": {
                "uniqIPs": 1,
                "consoleMsgs": 0,
                "dataLength": [...]
